<div class="card m-5" style="width:110rem ;" >
  <img [src]="restaurantItem.logo" style="height:800px" class="card-img-top" alt="..." />
  <div class="card-body">
    <h1 class="card-title">
      <span class="text-danger">Name :</span>{{ restaurantItem.name }}
    </h1>
    <h1 class="card-text">
      <span class="text-danger">Category: :</span>{{ restaurantItem.theme_code }}
    </h1>
    <div class="d-grid gap-2">
      <!-- <button
        class="btn"
        style="background-color: orange; font-weight: 900"
        type="button"
      >
        Show Restaurants
      </button> -->
    </div>
  </div>
</div>
